<ion-header>
  
    <ion-navbar>
      <ion-title>Activity</ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  
    <ng-container *ngFor="let response of responses">
      <ion-card *ngIf="response.author.ID == userID" class="sent">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="response.recipient.gravatar">
          </ion-avatar>
          <h2>Sent to {{response.recipient.nickname}}</h2>
          <p [innerHTML]="this.formattingProvider.doDate(response.post_date)"></p>
        </ion-item>
        <ion-card-content>
          {{response.post_content}}
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="response.recipient.ID == userID" class="received">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="response.author.gravatar">
            </ion-avatar>
            <h2>Response from {{response.author.nickname}}</h2>
            <p [innerHTML]="this.formattingProvider.doDate(response.post_date)"></p>
          </ion-item>    
          <ion-card-content>
            {{response.post_content}}
          </ion-card-content>
        </ion-card>
    </ng-container>
  
  </ion-content>
